.headerImg{
        background-image: url("/src/main/webapp/images/hot.jpg");
        background-attachment: fixed;
        background-size: cover;
        background-repeat:no-repeat;
}

.title{
    overflow: hidden;
    
}

.titleUnder{
    font-size: 30px;
    letter-spacing:5px;
    color: cornflowerblue;
    
}
.logo{
    padding-top:20px;
}

.hottel{
    padding-top: 10px;
}

.login_out,.login{
    float: right;
    line-height: 50px;
    margin-right: 50px;
}

.login a,.login_out a{
    font-size: 14px;
}
.shortcut{
    background-color: cornflowerblue;
    width: 100%;
}
.btn-danger,.btn-warning,.btn-success{
    background-color: cornflowerblue;
    border: none;
}
.navitem {
    height: 50px;
}
.nav li{

}
